{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                 <p> {{msg}} </p>
            {% endfor %}
        {% endif %}
{% endwith %}
<form action="#" method="POST">
<label for="inputPassword5" class="form-label">Email</label>
<input type="email" name="email"placeholder="Enter Email" value="{{email if email}}" class="form-control">
<button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

